.home-page-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
  width: 50vw;
  padding: 1rem;
}

.linked-in {
  color: #0077B5;
  font-size: 2.5vw;
}

.github {
  color: #24292e;
  font-size: 2.5vw;
}

@media screen and (max-width: 1200px) {
  .linked-in {
    font-size: 6vw;
  }

  .github {
    font-size: 6vw;
  }
}